.video-controls {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.livevideo-controls {
    margin: auto;
    text-align: center;
    padding: 10px;
    bottom: 80px;
    position: relative;
}

.video-controls > *, .livevideo-controls > * {
    margin-left: 10px;
}

.video-options {
    display: inline;
}

.camera video, .camera canvas {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

.camera {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
}

.camoutput img {
    max-height: 70vh;
    max-width: 70vw;
    object-fit: contain;
}

.camoutput {
    text-align: center;
}